.app {
  background: $color-black;
  height: 54rem;
  padding: 1rem;
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 28rem;
  color: $color-white;
  border-radius: 1rem;
}