.results {
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &__memory {
    font-size: 1rem;
  }
}